@tailwind base;
@tailwind components;

@tailwind utilities;

.border-background {
  border-image: linear-gradient(to right, #ffffff, #185f9a);
  border-radius: 50%;
  border-image-slice: 1;
  /* border: 1px solid ; */
  border-radius: 10px;
  /* border-image: linear-gradient(to #185f9a #ffffff00 ); */

  /* inear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) */
  border-left: none;
}

.border-background-left {
  border-image: linear-gradient(to left, #ffffff, #185f9a);
  border-radius: 50%;
  border-image-slice: 1;
  /* border: 1px solid ; */
  border-radius: 10px;
  /* border-image: linear-gradient(to #185f9a #ffffff00 ); */

  /* inear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) */
  border-right: none;
}


.swiper-button-prev,
.swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
  background-color: #00a88e;
  border-radius: 50%;
  padding: 20px;
  --swiper-navigation-size: 15px;
  color: #ffffff !important;
}

.gradient-text {
  background-image: linear-gradient(to right, #0072BC, #009FA9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.basic-text{
  font-size: 48px;
  line-height: 60px;
}

.hero-text {
  background-image: linear-gradient(to left, #369F99, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mod-text {
  font-weight: 450;
  font-size: 25px;
  line-height: 32px;
}

@keyframes slide {
  from {
     transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.logos-slide {
  
  animation: 5s slide infinite linear;
}

.logos-slide :hover {
   animation-play-state: paused;
}